DatabaseDefinition/SequenceSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/SequenceSchema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="DatabaseObjects">
		<xs:complexType>
			<xs:sequence>
        <xs:element name="SQLObject" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="Process" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="NonOrdered" />
                  <xs:enumeration value="Single" />
                  <xs:enumeration value="GenerateTableFiles" />
                  <xs:enumeration value="GenerateNonTableFiles" />
                  <xs:enumeration value="UpdateVariableTables" />
                  <xs:enumeration value="RemoveDefaultLayout" />
                  <xs:enumeration value="ClearCustomConversions" />
                  <xs:enumeration value="ExecuteDeferredCustomConversions" />
                  <xs:enumeration value="LoadCalcsAndVariables" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Type" use="optional" default="Unknown">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Table" />
                  <xs:enumeration value="TableKey" />
                  <xs:enumeration value="Constraint" />
                  <xs:enumeration value="Index" />
                  <xs:enumeration value="Trigger" />
                  <xs:enumeration value="Type" />
                  <xs:enumeration value="FunctionScalar" />
                  <xs:enumeration value="FunctionTable" />
                  <xs:enumeration value="View" />
                  <xs:enumeration value="StoredProcedure" />
                  <xs:enumeration value="UpgradeVersion" />
                  <xs:enumeration value="Script" />
                  <xs:enumeration value="Drop" />
                  <xs:enumeration value="Unknown" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Name" type="xs:string" use="optional"></xs:attribute>
            <xs:attribute name="IsGenerated" type="xs:string" use="optional"></xs:attribute>
            <xs:attribute name="Ignore" type="xs:string" use="optional"></xs:attribute>
          </xs:complexType>
        </xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>