MIDAdvInstaller/InstallerDoNotReplace.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="installer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="do_not_replace">
          <xs:complexType>
            <xs:attribute name="folder" type="xs:string" use="required" />
            <xs:attribute name="file" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>